<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>영화 상세정보</title>
    <link rel="stylesheet" href="/css/details.css">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
</head>
<body>
<div id="container">
    <header id="header">
        <div id="logo">
            <a href="http://localhost:8080/movie/main">
                <h1>Main Page</h1>
            </a>
        </div>
        <nav>
        </nav>
    </header>
    <aside id="left-sidebar">
        <img th:src="${movie.posterUrl}" width=250>
    </aside>
    <section id="contents">
        <h1 th:text ="${movie.title}" id="name">그대들은 어떻게 살 것인가</h1>
        <p th:text ="${movie.synopsis}" id="description">화재로 어머니를 잃은 11살 소년 ‘마히토’는 아버지와 함께 어머니의 고향으로 간다. 어머니에 대한 그리움과 새로운 보금자리에 적응하느라 힘들어하던 ‘마히토’ 앞에 정체를 알 수 없는 왜가리 한 마리가 나타나고, 저택에서 일하는 일곱 할멈으로부터 왜가리가 살고 있는 탑에 대한 신비로운 이야기를 듣게 된다. 그러던 어느 날, ‘마히토’는 사라져버린 새엄마 ‘나츠코’를 찾기 위해 탑으로 들어가고, 왜가리가 안내하는 대로 이세계(異世界)의 문을 통과하는데…!</p>
    </section>
    <aside id="right-sidebar">

    </aside>

    <!-- 별점 주는 영역 -->
    <footer id="footer">
        <form>
            <input type="range" min="1" max="5" id="starCount">
            <button onclick="giveStar()">별점 주기</button>
        </form>
    </footer>
    <!-- 댓글 작성 영역 -->
    <div id="comment-write" th:if="${session.userId != null}">
        <input id="commentContents" placeholder="댓글달기" >
        <button id="commentWriteButton" onclick="commentWrite()">댓글 작성</button>
    </div>
    <div>
        <p></p>
    </div>
    <!-- 댓글 출력 영역 -->
    <div id="comment">
        <table>
            <thead>
            <tr>
                <th>작성자</th>
                <th>댓글 내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${commentlist}">
                <td><p th:text="${comment.writer}"></p></td>
                <td><p th:text="${comment.commentContent}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
<script th:inline="javascript">
    const commentWrite = () => {
        const commentWriter =  [[ ${session.userId} ]];
        const commentContents = document.getElementById("commentContents").value;
        const movieCode=[[${movie.movieId}]];
        console.log(commentContents)
        console.log(commentWriter)
        $.ajax({
           type:"post",
           url:"/comment/post" ,
            data:{
               writer:commentWriter,
                contents:commentContents,
                movieCode:movieCode
            },
            success: function (res){
               console.log("요청성공" , res);
               alert("댓글을 작성하였습니다.")
                location.reload();
            }
        });
    }
    const giveStar = () =>{
        const starCount = document.getElementById("starCount").value;
        const movieCode=[[${movie.movieId}]];
        $.ajax({
            type:"post",
            url:"/star/givestar",
            data:{
                starCount : starCount,
                movieCode : movieCode
            },
            success: function(res){
                console.log("요청성공",res)
                location.reload();
            }
            }


        )

    }

</script>
</html>
